In [45]:
#Khai báo thư viện
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.functions import col, when, isnull
from pyspark.sql import functions as F
from pyspark.sql.functions import desc, asc
import matplotlib.pyplot as plt
import pandas as pd

In [46]:
#Đọc file csv được thu thập từ trang https://finance.yahoo.com/
spark = SparkSession.builder.getOrCreate()
data = spark.read.csv("AAPL.csv", header=True, inferSchema=True)
data = data.drop("Adj Close")

In [47]:
data.toPandas()

             Date        Open        High         Low       Close     Volume
0      1980-12-12    0.128348    0.128906    0.128348    0.128348  469033600
1      1980-12-15    0.122210    0.122210    0.121652    0.121652  175884800
2      1980-12-16    0.113281    0.113281    0.112723    0.112723  105728000
3      1980-12-17    0.115513    0.116071    0.115513    0.115513   86441600
4      1980-12-18    0.118862    0.119420    0.118862    0.118862   73449600
...           ...         ...         ...         ...         ...        ...
10851  2023-12-28  194.139999  194.660004  193.169998  193.580002   34049900
10852  2023-12-29  193.899994  194.399994  191.729996  192.529999   42628800
10853  2024-01-02  187.149994  188.440002  183.889999  185.639999   82488700
10854  2024-01-03  184.220001  185.880005  183.429993  184.250000   58414500
10855  2024-01-04  182.149994  183.089996  180.880005  181.910004   71983600

[10856 rows x 6 columns]

In [48]:
actual = data.orderBy(desc('Date')).limit(30)
actual = actual.orderBy('Date', ascending=True)

In [49]:
actual.show(30)

+----------+------------------+------------------+------------------+------------------+---------+
|      Date|              Open|              High|               Low|             Close|   Volume|
+----------+------------------+------------------+------------------+------------------+---------+
|2023-11-21|191.41000366210938|191.52000427246094|189.74000549316406|190.63999938964844| 38134500|
|2023-11-22|191.49000549316406|192.92999267578125| 190.8300018310547|191.30999755859375| 39617700|
|2023-11-24| 190.8699951171875|190.89999389648438|            189.25|189.97000122070312| 24048300|
|2023-11-27| 189.9199981689453| 190.6699981689453|188.89999389648438| 189.7899932861328| 40552600|
|2023-11-28|189.77999877929688| 191.0800018310547|189.39999389648438|190.39999389648438| 38415400|
|2023-11-29|190.89999389648438|192.08999633789062|188.97000122070312| 189.3699951171875| 43014200|
|2023-11-30|189.83999633789062|190.32000732421875|188.19000244140625| 189.9499969482422| 48794400|
|2023-12-01| 190.3300018310547|191.55999755859375|189.22999572753906|191.24000549316406| 45679300|
|2023-12-04|189.97999572753906| 190.0500030517578| 187.4499969482422|189.42999267578125| 43389500|
|2023-12-05| 190.2100067138672|194.39999389648438|190.17999267578125| 193.4199981689453| 66628400|
|2023-12-06| 194.4499969482422|194.75999450683594|192.11000061035156|192.32000732421875| 41089700|
|2023-12-07| 193.6300048828125|             195.0|193.58999633789062|194.27000427246094| 47477700|
|2023-12-08| 194.1999969482422|195.99000549316406| 193.6699981689453| 195.7100067138672| 53377300|
|2023-12-11|193.11000061035156|193.49000549316406| 191.4199981689453|193.17999267578125| 60943700|
|2023-12-12| 193.0800018310547|194.72000122070312|191.72000122070312| 194.7100067138672| 52696900|
|2023-12-13|195.08999633789062|             198.0|194.85000610351562| 197.9600067138672| 70404200|
|2023-12-14|198.02000427246094| 199.6199951171875|196.16000366210938|198.11000061035156| 66831600|
|2023-12-15|197.52999877929688|198.39999389648438|             197.0|197.57000732421875|128256700|
|2023-12-18|196.08999633789062| 196.6300048828125|194.38999938964844|195.88999938964844| 55751900|
|2023-12-19|196.16000366210938| 196.9499969482422|195.88999938964844|196.94000244140625| 40714100|
|2023-12-20|196.89999389648438|197.67999267578125| 194.8300018310547| 194.8300018310547| 52242800|
|2023-12-21|196.10000610351562| 197.0800018310547|             193.5|194.67999267578125| 46482500|
|2023-12-22|195.17999267578125|195.41000366210938|192.97000122070312|193.60000610351562| 37122800|
|2023-12-26|193.61000061035156|193.88999938964844| 192.8300018310547| 193.0500030517578| 28919300|
|2023-12-27|192.49000549316406|             193.5|191.08999633789062|193.14999389648438| 48087700|
|2023-12-28|194.13999938964844|194.66000366210938| 193.1699981689453| 193.5800018310547| 34049900|
|2023-12-29|193.89999389648438|194.39999389648438|191.72999572753906|192.52999877929688| 42628800|
|2024-01-02|187.14999389648438|188.44000244140625|183.88999938964844|185.63999938964844| 82488700|
|2024-01-03|184.22000122070312| 185.8800048828125|183.42999267578125|            184.25| 58414500|
|2024-01-04|182.14999389648438|183.08999633789062| 180.8800048828125|181.91000366210938| 71983600|
+----------+------------------+------------------+------------------+------------------+---------+

In [50]:
data = data.subtract(actual)
data = data.orderBy('Date', ascending=True)

In [51]:
data.toPandas()

             Date        Open        High         Low       Close     Volume
0      1980-12-12    0.128348    0.128906    0.128348    0.128348  469033600
1      1980-12-15    0.122210    0.122210    0.121652    0.121652  175884800
2      1980-12-16    0.113281    0.113281    0.112723    0.112723  105728000
3      1980-12-17    0.115513    0.116071    0.115513    0.115513   86441600
4      1980-12-18    0.118862    0.119420    0.118862    0.118862   73449600
...           ...         ...         ...         ...         ...        ...
10821  2023-11-14  187.699997  188.110001  186.300003  187.440002   60108400
10822  2023-11-15  187.850006  189.500000  187.779999  188.009995   53790500
10823  2023-11-16  189.570007  190.960007  188.649994  189.710007   54412900
10824  2023-11-17  190.250000  190.380005  188.570007  189.690002   50922700
10825  2023-11-20  189.889999  191.910004  189.880005  191.449997   46505100

[10826 rows x 6 columns]

In [52]:
#Tạo cột giá đóng sau 30 ngày tương ứng với từng ngày.
forecast_out =30
window_spec = Window().orderBy("Date")  
data_30 = data.withColumn("Close_after_30_days", F.lead("Close", forecast_out).over(window_spec))

In [53]:
data_30.show()

+----------+-------------------+-------------------+-------------------+-------------------+---------+-------------------+
|      Date|               Open|               High|                Low|              Close|   Volume|Close_after_30_days|
+----------+-------------------+-------------------+-------------------+-------------------+---------+-------------------+
|1980-12-12| 0.1283479928970337| 0.1289059966802597| 0.1283479928970337| 0.1283479928970337|469033600|0.14285700023174286|
|1980-12-15|0.12221000343561172|0.12221000343561172|0.12165199965238571|0.12165199965238571|175884800|0.13839299976825714|
|1980-12-16| 0.1132809966802597| 0.1132809966802597|0.11272300034761429|0.11272300034761429|105728000| 0.1333709955215454|
|1980-12-17|0.11551299691200256|0.11607100069522858|0.11551299691200256|0.11551299691200256| 86441600|0.12611599266529083|
|1980-12-18|0.11886200308799744|0.11941999942064285|0.11886200308799744|0.11886200308799744| 73449600|0.11886200308799744|
|1980-12-19|0.12611599266529083|0.12667399644851685|0.12611599266529083|0.12611599266529083| 48630400|0.12332600355148315|
|1980-12-22| 0.1322540044784546| 0.1328130066394806| 0.1322540044784546| 0.1322540044784546| 37363200|0.12779000401496887|
|1980-12-23|0.13783499598503113|0.13839299976825714|0.13783499598503113|0.13783499598503113| 46950400|0.12779000401496887|
|1980-12-24|0.14508900046348572|0.14564700424671173|0.14508900046348572|0.14508900046348572| 48003200| 0.1283479928970337|
|1980-12-26|0.15848200023174286|0.15904000401496887|0.15848200023174286|0.15848200023174286| 55574400|0.12165199965238571|
|1980-12-29|0.16071400046348572|0.16127200424671173|0.16071400046348572|0.16071400046348572| 93161600|0.12165199965238571|
|1980-12-30|0.15736599266529083|0.15736599266529083|  0.156808003783226|  0.156808003783226| 68880000|0.11774600297212601|
|1980-12-31| 0.1529020071029663| 0.1529020071029663| 0.1523440033197403| 0.1523440033197403| 35750400|0.11662899702787399|
|1981-01-02|0.15401799976825714|0.15513400733470917|0.15401799976825714|0.15401799976825714| 21660800|0.11383900046348572|
|1981-01-05|0.15122799575328827|0.15122799575328827|0.15067000687122345|0.15067000687122345| 35728000|0.11662899702787399|
|1981-01-06| 0.1445309966802597| 0.1445309966802597| 0.1439729928970337| 0.1439729928970337| 45158400|0.12165199965238571|
|1981-01-07|0.13839299976825714|0.13839299976825714|0.13783499598503113|0.13783499598503113| 55686400|0.11439699679613113|
|1981-01-08|0.13560299575328827|0.13560299575328827|0.13504500687122345|0.13504500687122345| 39827200|0.10825899988412857|
|1981-01-09|0.14229899644851685|0.14285700023174286|0.14229899644851685|0.14229899644851685| 21504000|0.10993299633264542|
|1981-01-12|0.14229899644851685|0.14229899644851685|  0.141183003783226|  0.141183003783226| 23699200|0.10602699965238571|
+----------+-------------------+-------------------+-------------------+-------------------+---------+-------------------+
only showing top 20 rows

In [55]:
#Trong df mới thì 30 dòng cuối không có giá đóng sau 30 ngày nên dùng làm tập dự đoán (streaming)
df = data_30.toPandas()
df.tail(40)

,Date,Open,High,Low,Close,Volume,Close_after_30_days
10786,2023-09-26,174.820007,175.199997,171.660004,171.960007,64588900,181.820007
10787,2023-09-27,172.619995,173.039993,169.050003,170.429993,66921800,182.889999
10788,2023-09-28,169.339996,172.029999,167.619995,170.690002,56294400,182.410004
10789,2023-09-29,172.020004,173.070007,170.339996,171.210007,51814200,186.399994
10790,2023-10-02,171.220001,174.300003,170.929993,173.750000,52164500,184.800003
10791,2023-10-03,172.259995,173.630005,170.820007,172.399994,49594600,187.440002
10792,2023-10-04,171.089996,174.210007,170.970001,173.660004,53020300,188.009995
10793,2023-10-05,173.789993,175.449997,172.679993,174.910004,48527900,189.710007
10794,2023-10-06,173.800003,177.990005,173.179993,177.490005,57224100,189.690002
10795,2023-10-09,176.809998,179.050003,175.800003,178.990005,42390800,191.449997
10796,2023-10-10,178.100006,179.720001,177.949997,178.389999,43698000,NaN
10797,2023-10-11,178.199997,179.850006,177.600006,179.800003,47551100,NaN
10798,2023-10-12,180.070007,182.339996,179.039993,180.710007,56743100,NaN
10799,2023-10-13,181.419998,181.929993,178.139999,178.850006,51427100,NaN
10800,2023-10-16,176.750000,179.080002,176.509995,178.720001,52517000,NaN
10801,2023-10-17,176.649994,178.419998,174.800003,177.149994,57549400,NaN
10802,2023-10-18,175.580002,177.580002,175.110001,175.839996,54764400,NaN
10803,2023-10-19,176.039993,177.839996,175.190002,175.460007,59302900,NaN
10804,2023-10-20,175.309998,175.419998,172.639999,172.880005,64189300,NaN
10805,2023-10-23,170.910004,174.009995,169.929993,173.000000,55980100,NaN
10806,2023-10-24,173.050003,173.669998,171.449997,173.440002,43816600,NaN
10807,2023-10-25,171.880005,173.059998,170.649994,171.100006,57157000,NaN
10808,2023-10-26,170.369995,171.380005,165.669998,166.889999,70625300,NaN
10809,2023-10-27,166.910004,168.960007,166.830002,168.220001,58499100,NaN
10810,2023-10-30,169.020004,171.169998,168.869995,170.289993,51131000,NaN
10811,2023-10-31,169.350006,170.899994,167.899994,170.770004,44846000,NaN
10812,2023-11-01,171.000000,174.229996,170.119995,173.970001,56934900,NaN
10813,2023-11-02,175.520004,177.779999,175.460007,177.570007,77334800,NaN
10814,2023-11-03,174.240005,176.820007,173.350006,176.649994,79763700,NaN
10815,2023-11-06,176.380005,179.429993,176.210007,179.229996,63841300,NaN
10816,2023-11-07,179.179993,182.440002,178.970001,181.820007,70530000,NaN
10817,2023-11-08,182.350006,183.449997,181.589996,182.889999,49340300,NaN
10818,2023-11-09,182.960007,184.119995,181.809998,182.410004,53763500,NaN
10819,2023-11-10,183.970001,186.570007,183.529999,186.399994,66133400,NaN
10820,2023-11-13,185.820007,186.029999,184.210007,184.800003,43627500,NaN
10821,2023-11-14,187.699997,188.110001,186.300003,187.440002,60108400,NaN
10822,2023-11-15,187.850006,189.500000,187.779999,188.009995,53790500,NaN
10823,2023-11-16,189.570007,190.960007,188.649994,189.710007,54412900,NaN
10824,2023-11-17,190.250000,190.380005,188.570007,189.690002,50922700,NaN
10825,2023-11-20,189.889999,191.910004,189.880005,191.449997,46505100,NaN

In [56]:
stream = data_30.filter(isnull("Close_after_30_days"))
stream.show(30, truncate=False)

+----------+------------------+------------------+------------------+------------------+--------+-------------------+
|Date      |Open              |High              |Low               |Close             |Volume  |Close_after_30_days|
+----------+------------------+------------------+------------------+------------------+--------+-------------------+
|2023-10-10|178.10000610351562|179.72000122070312|177.9499969482422 |178.38999938964844|43698000|NULL               |
|2023-10-11|178.1999969482422 |179.85000610351562|177.60000610351562|179.8000030517578 |47551100|NULL               |
|2023-10-12|180.07000732421875|182.33999633789062|179.0399932861328 |180.7100067138672 |56743100|NULL               |
|2023-10-13|181.4199981689453 |181.92999267578125|178.13999938964844|178.85000610351562|51427100|NULL               |
|2023-10-16|176.75            |179.0800018310547 |176.50999450683594|178.72000122070312|52517000|NULL               |
|2023-10-17|176.64999389648438|178.4199981689453 |174.8000030517578 |177.14999389648438|57549400|NULL               |
|2023-10-18|175.5800018310547 |177.5800018310547 |175.11000061035156|175.83999633789062|54764400|NULL               |
|2023-10-19|176.0399932861328 |177.83999633789062|175.19000244140625|175.4600067138672 |59302900|NULL               |
|2023-10-20|175.30999755859375|175.4199981689453 |172.63999938964844|172.8800048828125 |64189300|NULL               |
|2023-10-23|170.91000366210938|174.00999450683594|169.92999267578125|173.0             |55980100|NULL               |
|2023-10-24|173.0500030517578 |173.6699981689453 |171.4499969482422 |173.44000244140625|43816600|NULL               |
|2023-10-25|171.8800048828125 |173.05999755859375|170.64999389648438|171.10000610351562|57157000|NULL               |
|2023-10-26|170.3699951171875 |171.3800048828125 |165.6699981689453 |166.88999938964844|70625300|NULL               |
|2023-10-27|166.91000366210938|168.9600067138672 |166.8300018310547 |168.22000122070312|58499100|NULL               |
|2023-10-30|169.02000427246094|171.1699981689453 |168.8699951171875 |170.2899932861328 |51131000|NULL               |
|2023-10-31|169.35000610351562|170.89999389648438|167.89999389648438|170.77000427246094|44846000|NULL               |
|2023-11-01|171.0             |174.22999572753906|170.1199951171875 |173.97000122070312|56934900|NULL               |
|2023-11-02|175.52000427246094|177.77999877929688|175.4600067138672 |177.57000732421875|77334800|NULL               |
|2023-11-03|174.24000549316406|176.82000732421875|173.35000610351562|176.64999389648438|79763700|NULL               |
|2023-11-06|176.3800048828125 |179.42999267578125|176.2100067138672 |179.22999572753906|63841300|NULL               |
|2023-11-07|179.17999267578125|182.44000244140625|178.97000122070312|181.82000732421875|70530000|NULL               |
|2023-11-08|182.35000610351562|183.4499969482422 |181.58999633789062|182.88999938964844|49340300|NULL               |
|2023-11-09|182.9600067138672 |184.1199951171875 |181.80999755859375|182.41000366210938|53763500|NULL               |
|2023-11-10|183.97000122070312|186.57000732421875|183.52999877929688|186.39999389648438|66133400|NULL               |
|2023-11-13|185.82000732421875|186.02999877929688|184.2100067138672 |184.8000030517578 |43627500|NULL               |
|2023-11-14|187.6999969482422 |188.11000061035156|186.3000030517578 |187.44000244140625|60108400|NULL               |
|2023-11-15|187.85000610351562|189.5             |187.77999877929688|188.00999450683594|53790500|NULL               |
|2023-11-16|189.57000732421875|190.9600067138672 |188.64999389648438|189.7100067138672 |54412900|NULL               |
|2023-11-17|190.25            |190.3800048828125 |188.57000732421875|189.69000244140625|50922700|NULL               |
|2023-11-20|189.88999938964844|191.91000366210938|189.8800048828125 |191.4499969482422 |46505100|NULL               |
+----------+------------------+------------------+------------------+------------------+--------+-------------------+

In [57]:
train = data_30.subtract(stream)

In [58]:
train.toPandas()

,Date,Open,High,Low,Close,Volume,Close_after_30_days
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,469033600,0.142857
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,175884800,0.138393
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,105728000,0.133371
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,86441600,0.126116
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,73449600,0.118862
...,...,...,...,...,...,...,...
10791,2023-10-03,172.259995,173.630005,170.820007,172.399994,49594600,187.440002
10792,2023-10-04,171.089996,174.210007,170.970001,173.660004,53020300,188.009995
10793,2023-10-05,173.789993,175.449997,172.679993,174.910004,48527900,189.710007
10794,2023-10-06,173.800003,177.990005,173.179993,177.490005,57224100,189.690002
10795,2023-10-09,176.809998,179.050003,175.800003,178.990005,42390800,191.449997

In [68]:
actual_pd = actual.toPandas()
actual_pd.to_csv("actual.csv", index=False)

In [69]:
stream_pd = stream.toPandas()
stream_pd.to_csv("stream.csv", index=False)

In [70]:
train_pd = train.toPandas()
train_pd.to_csv("train.csv", index=False)

Dự đoán